/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 105;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/karsten-winegeart-ZBUesmAQapY-unsplash.jpg");
  background-size: cover; background-repeat: no-repeat; 
  background-attachment: fixed; background-position: center;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 200px auto;
 	background: rgba(163, 148, 134, 0.5); /*this uses opacity of 75% for the background color*/ 
	text-align: center;
	border: 6px solid burlywood;
}

   
#logo {
    margin-bottom: 20px;
	border: 3px solid burlywood;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 3em;
    margin: 0px auto 10px auto;
    color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 2em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.5em;
    line-height: 1.0;
    color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cursive; 
}
    
   nav {
	font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
	font-size: 1.7em;
	width: 700px;
	margin: 0 auto;
	border:  solid  burlywood;
	border-width: 2px 0;
	text-align: center;
	margin-top: 4em;
   } 
nav li{display: inline}
nav a{display: inline-block;
padding: 10px; color: whitesmoke;
text-decoration: burlywood;
}
a :hover {color: black; background: pink;}